<h1>Artists</h1>
<ul>
<% @artists.each do |artist| %>
    <div>
        <h2><%=link_to artist.name, artist_path(artist)%></h2>
        (<%= artist.song_count %> <%= "song".pluralize(artist.song_count) %>)
    </div>
<% end %>